In [ ]:
%pip install pandas
%pip install supabase-py
%pip install supabase

In [1]:
import pandas as pd

tenant_settings = {
    "type":"tokeet_datafeed",
    "datafeed_bookings":"https://datafeed.tokeet.com/v1/inquiry/1539939344.4195/19df0253-1bdc-4075-9f66-0785c8dde651/c1f51462-86a3-435c-a60a-61511f459909/1670229847",
    "datafeed_rentals":"https://datafeed.tokeet.com/v1/rental/1539939344.4195/972ff8d5-c676-4216-b767-1f80a8ce1190/2ce8175f-881f-4c7d-b814-f979306098ec/1696346309"
}

def get_bookings(data_feed_url):
    """Return all bookings from the data feed."""
    bookings_df = pd.DataFrame()
    temp = pd.DataFrame()
    skip = 0
    limit = 1000

    while True:
        link = f"{data_feed_url}?sort=guest_arrive&direction=1&booked=1&skip={skip}&limit={limit}"
        temp_data = pd.read_csv(link)

        if temp_data.shape == (2, 1):
            break
        temp = pd.concat([temp, temp_data])
        skip += limit

    bookings_df = pd.concat([bookings_df, temp])

    return bookings_df

bookings_df = get_bookings(tenant_settings["datafeed_bookings"])
print(bookings_df.head(3))

                     Name                           Email  \
0             Kirti Patel  448851254-not-valid@airbnb.com
1  Despina Christodoulidi  455505887-not-valid@airbnb.com
2          Luke Brothwell  471079446-not-valid@airbnb.com

  Guest Secondary Emails       Telephone  Guest Secondary Phones  \
0                    NaN  447974617424.0                     NaN
1                    NaN  447901088671.0                     NaN
2                    NaN  447594934433.0                     NaN

  Guest Address Booking Status              Rental      Arrive      Depart  \
0           NaN         Booked  Bracken Hill Lodge  2017-12-16  2017-12-19
1           NaN         Booked  Bracken Hill Lodge  2018-01-27  2018-01-28
2           NaN         Booked  Bracken Hill Lodge  2018-02-16  2018-02-18

   ...  Source Booked Adults Children Currency Total Cost Base Rate  Tax  \
0  ...  airbnb    Yes      5        0      GBP     749.03    749.03  0.0
1  ...  airbnb    Yes      5        0      GBP      56.88     56.88  0.0
2  ...  airbnb    Yes      7        0      GBP     250.64    250.64  0.0

   Booking Formula                              Guest ID
0           749.03  78c38d1b-e44b-4b05-9911-d016fe20fdd6
1            56.88  9ca19d72-597c-4ddd-be53-2910499762f6
2           250.64  e4f9459b-00de-4b3f-9590-234b95f9e439

[3 rows x 26 columns]

In [2]:
def get_rentals(data_feed_url):
    """Return all rentals from the data feed."""
    return pd.read_csv(data_feed_url)

rentals_df = get_rentals(tenant_settings["datafeed_rentals"])
print(rentals_df.head(3))

                 Name                                       Display_name  \
0  Ambler Thorn Lodge  Ambler Thorn | 4 bed Sleeps 6 - Queensbury BD1...
1    Beacon Hill View  Beacon Hill View | 3 Bed Sleeps 5 - Southowram...
2         Blossomgate  Blossomgate | 3 Bed Sleeps 5 - Hipperholme HX3...

                                   Pkey  \
0  639d0d56-799b-411a-9652-684960bee311
1  f10518dd-2bd5-47c0-bde0-21d5a6f1ec43
2  c40ddd8b-326f-4d1f-b607-dbdfd04603fc

                                            Subtitle  \
0                    Imported from airbnb 2018-10-25
1                                                NaN
2  Updated from Airbnb Main Site 2024-05-07T08:24...

                                    Email                           Address  \
0            ambler@usnooz.tokeetmail.com  2 Bracken Hill Court, Roper Lane
1  beacon.hill.view@usnooz.tokeetmail.com                  113 Trooper Lane
2       blossomgate@usnooz.tokeetmail.com   3A Northedge, Denholmegate Road

                                          Phone        City           State  \
0   Call: 01484 212 222 Text Only: 07984 448288  Queensbury  West Yorkshire
1  Call: 01484 212 222 Text Only: 07984 4482882     Halifax         England
2   Call: 01484 212 222 Text Only: 07984 448288     Halifax         England

          Country  ... Payment_instructions   Taxes  Currency  \
0  United Kingdom  ...                  NaN     NaN       GBP
1  United Kingdom  ...                  NaN     NaN       GBP
2  United Kingdom  ...                  NaN  0 flat       GBP

                                  Gps  Detail  Abb_listing_id Specifics  \
0  53.7605940545833,-1.86004736441805     NaN      22611572.0       NaN
1   53.7173268321172,-1.8444795871025     NaN      52451042.0       NaN
2        53.7314688,-1.81624999999997     NaN      29949200.0       NaN

                                   Tags  Checkin Checkout
0  4 beds/queensbury/midstay/midstay 4s    15:00    10:00
1    midstay/midstay 3s-/victoria crick    15:00    10:00
2                       halifax/midstay    15:00    10:00

[3 rows x 31 columns]

In [3]:
# Count the number of invalid uuids in rentals_df['pkey']
import uuid

# Function to check if a string is a valid UUID
def is_valid_uuid(value):
    try:
        uuid.UUID(value)
        return True
    except ValueError:
        return False
    
# Count the number of invalid UUIDs
invalid_uuid_count = rentals_df['Pkey'].apply(lambda x: not is_valid_uuid(x)).sum()

print(f"Number of invalid UUIDs: {invalid_uuid_count}")

Number of invalid UUIDs: 0

In [4]:
# Create a new DataFrame with only 'Name' and 'pkey' columns
rentals_df_subset = rentals_df[['Name', 'Pkey']].rename(columns={'Name': 'Rental Name', 'Pkey': 'Rental ID'})

# Merge DataFrames to add "Rental ID" column
bookings_df = bookings_df.merge(rentals_df_subset, how='left', left_on='Rental', right_on='Rental Name')
bookings_df.drop(columns=['Rental Name'], inplace=True)

# Count blank (NaN) values in the "Rental ID" column
try:
    blank_rental_id_count = bookings_df['Rental ID'].isna().sum()
except KeyError:
    blank_rental_id_count = 0

print(f"Number of blank values in 'Rental ID' column: {blank_rental_id_count}")

if blank_rental_id_count > 0:
    print(bookings_df[bookings_df['Rental ID'].isna()].head(5))

Number of blank values in 'Rental ID' column: 1
               Name                                   Email  \
1575  Lorraine Wise  4tnb4udo8t@m.expediapartnercentral.com

     Guest Secondary Emails      Telephone  Guest Secondary Phones  \
1575                    NaN  0007714352329                     NaN

     Guest Address Booking Status Rental      Arrive      Depart  ...  Booked  \
1575           NaN         Booked    NaN  2023-07-07  2023-07-09  ...     Yes

     Adults Children Currency Total Cost Base Rate  Tax Booking Formula  \
1575      2        0      USD     250.52    250.52  0.0          250.52

                                  Guest ID  Rental ID
1575  f3fec7a0-e22c-428e-bb6f-50c5ef2328db        NaN

[1 rows x 27 columns]

In [28]:
# Only execute to retest above steps
bookings_df.drop(columns=['Rental ID'], inplace=True)

In [5]:
# Ensure all columns are displayed
pd.set_option('display.max_columns', None)

print(bookings_df.head(3))

                     Name                           Email  \
0             Kirti Patel  448851254-not-valid@airbnb.com
1  Despina Christodoulidi  455505887-not-valid@airbnb.com
2          Luke Brothwell  471079446-not-valid@airbnb.com

  Guest Secondary Emails       Telephone  Guest Secondary Phones  \
0                    NaN  447974617424.0                     NaN
1                    NaN  447901088671.0                     NaN
2                    NaN  447594934433.0                     NaN

  Guest Address Booking Status              Rental      Arrive      Depart  \
0           NaN         Booked  Bracken Hill Lodge  2017-12-16  2017-12-19
1           NaN         Booked  Bracken Hill Lodge  2018-01-27  2018-01-28
2           NaN         Booked  Bracken Hill Lodge  2018-02-16  2018-02-18

   Nights    Received Checkin Checkout                            Booking ID  \
0       3  2018-10-25   15:00    10:00  eb1dd92a-1ed8-447a-8ece-94d42b915566
1       1  2018-10-25   15:00    10:00  5928228e-8a60-43b5-8875-e39d056c519a
2       2  2018-10-25   15:00    10:00  42318fae-5272-4229-b2dd-67e37fc4fb88

   Inquiry ID  Source Booked  Adults  Children Currency  Total Cost  \
0  HMYF9FYKT5  airbnb    Yes       5         0      GBP      749.03
1  HMTJZBKWR2  airbnb    Yes       5         0      GBP       56.88
2  HMZ9RE38CX  airbnb    Yes       7         0      GBP      250.64

   Base Rate  Tax  Booking Formula                              Guest ID  \
0     749.03  0.0           749.03  78c38d1b-e44b-4b05-9911-d016fe20fdd6
1      56.88  0.0            56.88  9ca19d72-597c-4ddd-be53-2910499762f6
2     250.64  0.0           250.64  e4f9459b-00de-4b3f-9590-234b95f9e439

                              Rental ID
0  4be2f5cb-ce1f-4089-af63-6285b29a1152
1  4be2f5cb-ce1f-4089-af63-6285b29a1152
2  4be2f5cb-ce1f-4089-af63-6285b29a1152

In [6]:
# Rename columns to lowercase and replace " " with "_"
bookings_df.columns = bookings_df.columns.str.lower().str.replace(" ", "_")

# Add tenant_id column
bookings_df['tenant_id'] = "7295fb78-135d-4156-9473-d6756dd6d430"

# Print the dataframe structure
print(bookings_df.head(1))

          name                           email guest_secondary_emails  \
0  Kirti Patel  448851254-not-valid@airbnb.com                    NaN

        telephone  guest_secondary_phones guest_address booking_status  \
0  447974617424.0                     NaN           NaN         Booked

               rental      arrive      depart  nights    received checkin  \
0  Bracken Hill Lodge  2017-12-16  2017-12-19       3  2018-10-25   15:00

  checkout                            booking_id  inquiry_id  source booked  \
0    10:00  eb1dd92a-1ed8-447a-8ece-94d42b915566  HMYF9FYKT5  airbnb    Yes

   adults  children currency  total_cost  base_rate  tax  booking_formula  \
0       5         0      GBP      749.03     749.03  0.0           749.03

                               guest_id                             rental_id  \
0  78c38d1b-e44b-4b05-9911-d016fe20fdd6  4be2f5cb-ce1f-4089-af63-6285b29a1152

                              tenant_id
0  7295fb78-135d-4156-9473-d6756dd6d430

In [7]:
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

# Function to check if a string is a valid UUID
def is_valid_uuid(value):
    try:
        uuid.UUID(value)
        return True
    except ValueError:
        return False

# Count the number of rows with an invalid uuid in booking_id column
invalid_booking_id_count = bookings_df['booking_id'].apply(lambda x: not is_valid_uuid(x)).sum()

print(f"Number of invalid uuids in 'booking_id' column: {invalid_booking_id_count}")

# Print rows with invalid UUIDs, including booking_id column
print(bookings_df[['booking_id', 'rental']][bookings_df['booking_id'].apply(lambda x: not is_valid_uuid(x))])

Number of invalid uuids in 'booking_id' column: 36
                                    booking_id              rental
2149  d458a0cf-9045-4cb1-8629-9ee76c81c9fa-tk2   Royal Calderdale
2151  1c317b26-03d0-4e0a-a451-8513d4ae49d0-tk2      Lister's Lodge
2153  018f7b33-b8c3-74ee-87ef-47dacf2ba97e-tk2      Church Meadows
2155  018f861e-4de0-7614-858f-9d1ce9b7df42-tk2    Beacon Hill View
2156  018f8718-0aaa-7c29-84e8-fe8843397961-tk2  Bracken Hill Lodge
2160  71d7dfdb-d528-48a8-8fc4-b8b1d3d28a6a-tk2         Stoney Lane
2161  e104e946-7a62-4521-ac0c-05c350923c85-tk2         Blossomgate
2164  018fa103-d37f-7410-be8a-4c4e16c4d060-tk2        Listers Nest
2166  018f82a8-483b-746f-a485-8f0b70d41e3d-tk2        Cinder Croft
2167  f3707380-d305-45d4-bec5-ea6c2ff63d3e-tk2      Lister's Lodge
2168  018faaf8-fb38-7b9d-bfdd-c6b00dda4307-tk2       Foxcroft Fold
2171  013eeb5e-3516-4acf-9cdb-323cefe4df39-tk2    Beacon Hill View
2174  018fab16-314c-7b74-80a8-9f71ec5cac8f-tk2  Bracken Hill Lodge
2175  018fb410-98b2-7a56-9bf2-a9b8bba1af02-tk2      High Top House
2177  018fc4d9-5288-70be-933d-c79e0e5a7e48-tk2       Foxcroft Fold
2178  7ad4ee63-5360-484f-a7dd-62739f92726d-tk2      Lister's Lodge
2181  bbec867a-babe-4e62-9c2c-b66bac34704f-tk2         Stoney Lane
2185  018fc42f-da18-79f5-be6b-caa3d2f3e5a0-tk2        Cinder Croft
2186  63c5d4c2-7d10-4ea7-9886-31bc25c59363-tk2      Lister's Lodge
2194  d960b27d-b194-4c1d-990c-9b9ff9fd9daf-tk2         Blossomgate
2195  4eb8a0ba-4bcc-477a-9552-2130105f3cbf-tk2        Listers Nest
2196  9ace5cc6-182e-4472-8dca-c830517a3572-tk2         Stoney Lane
2197  018fcf9e-72af-76db-86a3-2b01a5d89595-tk2        Cinder Croft
2198  80224c35-9f13-4d43-8f89-acc8281ad169-tk2      Lister's Lodge
2206  018fbec6-56a3-7074-bba9-f4dceb8e8566-tk2      Church Meadows
2230  018fe34e-3254-767c-aa72-2f60ccab53b4-tk2        Cinder Croft
2258  018fc92c-454d-7bc8-845b-6d06df23f3f9-tk2         Cinder Hill
2271  75986c6f-9f47-4fff-81c8-5f13ecf9550b-tk2      Church Meadows
2272  018fa6b6-d700-7845-8f66-bbfb0fee52c6-tk2         Cinder Hill
2282  ca3c59a9-c472-44e5-bfac-5fed7d722407-tk2        Cinder Croft
2305  018fcfcc-3b6c-70b1-a941-74bc704b58f0-tk2      Church Meadows
2310  018f8d7c-47f3-7821-a8d0-ba49cbf5822c-tk2        Cinder Croft
2314  018f7b13-9f7d-7b70-a2e7-91b27b67d9e6-tk2      Church Meadows
2322  169dc168-94f3-4e7c-965b-3dbf97139022-tk2         Cinder Hill
2336  5e3bba7f-048d-4fb6-bc3b-4dad7bf3462c-tk2      The Spa Chalet
2338  f856783c-e306-4c3f-b51b-ae4dc7ec5c39-tk2      The Spa Chalet

In [8]:
def clean_uuid(uuid_str):
    """Remove known suffixes like '-tk2'."""
    if uuid_str.endswith('-tk2'):
        return uuid_str[:-4]
    return uuid_str

# Apply the cleaning function to the 'booking_id' column
bookings_df['booking_id'] = bookings_df['booking_id'].apply(clean_uuid)

# Print rows with invalid UUIDs, including booking_id column
print(bookings_df[['booking_id', 'rental']][bookings_df['booking_id'].apply(lambda x: not is_valid_uuid(x))])

Empty DataFrame
Columns: [booking_id, rental]
Index: []

In [9]:
bookings_df['id'] = bookings_df['booking_id']

In [10]:
import numpy as np

# Replace NaN values with None
bookings_df = bookings_df.replace({np.nan: None})

# Convert DataFrame to list of dictionaries
upsert_data = bookings_df.to_dict(orient='records')

print(upsert_data[:3])

[{'name': 'Kirti Patel', 'email': '448851254-not-valid@airbnb.com', 'guest_secondary_emails': None, 'telephone': 447974617424.0, 'guest_secondary_phones': None, 'guest_address': None, 'booking_status': 'Booked', 'rental': 'Bracken Hill Lodge', 'arrive': '2017-12-16', 'depart': '2017-12-19', 'nights': 3, 'received': '2018-10-25', 'checkin': '15:00', 'checkout': '10:00', 'booking_id': 'eb1dd92a-1ed8-447a-8ece-94d42b915566', 'inquiry_id': 'HMYF9FYKT5', 'source': 'airbnb', 'booked': 'Yes', 'adults': 5, 'children': 0, 'currency': 'GBP', 'total_cost': 749.03, 'base_rate': 749.03, 'tax': 0.0, 'booking_formula': 749.03, 'guest_id': '78c38d1b-e44b-4b05-9911-d016fe20fdd6', 'rental_id': '4be2f5cb-ce1f-4089-af63-6285b29a1152', 'tenant_id': '7295fb78-135d-4156-9473-d6756dd6d430', 'id': 'eb1dd92a-1ed8-447a-8ece-94d42b915566'}, {'name': 'Despina Christodoulidi', 'email': '455505887-not-valid@airbnb.com', 'guest_secondary_emails': None, 'telephone': 447901088671.0, 'guest_secondary_phones': None, 'guest_address': None, 'booking_status': 'Booked', 'rental': 'Bracken Hill Lodge', 'arrive': '2018-01-27', 'depart': '2018-01-28', 'nights': 1, 'received': '2018-10-25', 'checkin': '15:00', 'checkout': '10:00', 'booking_id': '5928228e-8a60-43b5-8875-e39d056c519a', 'inquiry_id': 'HMTJZBKWR2', 'source': 'airbnb', 'booked': 'Yes', 'adults': 5, 'children': 0, 'currency': 'GBP', 'total_cost': 56.88, 'base_rate': 56.88, 'tax': 0.0, 'booking_formula': 56.88, 'guest_id': '9ca19d72-597c-4ddd-be53-2910499762f6', 'rental_id': '4be2f5cb-ce1f-4089-af63-6285b29a1152', 'tenant_id': '7295fb78-135d-4156-9473-d6756dd6d430', 'id': '5928228e-8a60-43b5-8875-e39d056c519a'}, {'name': 'Luke Brothwell', 'email': '471079446-not-valid@airbnb.com', 'guest_secondary_emails': None, 'telephone': 447594934433.0, 'guest_secondary_phones': None, 'guest_address': None, 'booking_status': 'Booked', 'rental': 'Bracken Hill Lodge', 'arrive': '2018-02-16', 'depart': '2018-02-18', 'nights': 2, 'received': '2018-10-25', 'checkin': '15:00', 'checkout': '10:00', 'booking_id': '42318fae-5272-4229-b2dd-67e37fc4fb88', 'inquiry_id': 'HMZ9RE38CX', 'source': 'airbnb', 'booked': 'Yes', 'adults': 7, 'children': 0, 'currency': 'GBP', 'total_cost': 250.64, 'base_rate': 250.64, 'tax': 0.0, 'booking_formula': 250.64, 'guest_id': 'e4f9459b-00de-4b3f-9590-234b95f9e439', 'rental_id': '4be2f5cb-ce1f-4089-af63-6285b29a1152', 'tenant_id': '7295fb78-135d-4156-9473-d6756dd6d430', 'id': '42318fae-5272-4229-b2dd-67e37fc4fb88'}]

In [15]:
SUPABASE_URL = "https://arsusdywimkgasonzqaa.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyc3VzZHl3aW1rZ2Fzb256cWFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTY5ODA1ODUzNiwiZXhwIjoyMDEzNjM0NTM2fQ.Eto1xUEjbhI9UaixDKYJeQ-y2ZiJ0Ix1tXoFrum1cIs"

# bookings_etl/resources/supabase.py
from supabase import create_client, Client
from dagster import resource

@resource
def supabase_resource(init_context) -> Client:
    url = init_context.resource_config["url"]
    key = init_context.resource_config["key"]
    return create_client(url, key)

def fetch_tenant_settings(supabase: Client):
    response = supabase.table("tenant_settings_view").select("*").eq("active", True).eq("type", "etl_bookings").execute()
    return response.data

ModuleNotFoundError: No module named 'supabase'

In [11]:
# Download the data in bookings_Df as a csv
bookings_df.to_csv("bookings.csv", index=False)